<div class="container">
    <h3 calss="d-flex justify-content-center"> This is the app </h3>
    <h5 calss="d-flex justify-content-center"> Lets Go </h5>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">

<ul class="navbar-nav">
    <li class="nav-item">
        <button class="m-1 btn btn-dark" routerLink="items">Items</button>

    </li>
    
    <li class="nav-item">
        <button class="m-1 btn btn-dark" routerLink="recipes">Recipes</button>

    </li>

    
</ul>


       
      </nav>


<router-outlet></router-outlet>

</div>